POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=caselaw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DESTINATION__POSTGRES__CREDENTIALS=postgresql://postgres:postgres@localhost:5432/caselaw

TJDFT_START_DATE=2026-01-01
TJDFT_END_DATE=2026-01-31
TJDFT_MAX_PAGES=
TJDFT_SUBJECT=
TJDFT_REQUEST_INTERVAL=0.5

PUBLISH_DEV_HOST=
PUBLISH_DEV_USER=
PUBLISH_DEV_CONTAINER=case-law-dev-postgres-1

PUBLISH_PRODUCAO_HOST=
PUBLISH_PRODUCAO_USER=
PUBLISH_PRODUCAO_CONTAINER=case-law-prod-postgres-1
